.ItemContainer{
    background-color: rgba(208, 221, 159, 0.938);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    padding-bottom: 40px;
    padding-right: 3rem;
    padding-left: 3rem;

}

.greeting{
    color:rgba(47, 55, 78, 0.938);
    padding-top: 20px;
}